body {
    margin: 0;
    font-family: "Segoe UI";
}
.dark-mode {
    background-color: hsl(232, 19%, 15%);
}
.container{
    max-width: 1180px;
    margin:0 auto;
}
nav {
    margin-top: 35px;
}
.moon-solid {
    float: right;
    cursor: pointer;
}
.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}
  
  .topnav a{
    float: left;
    display: block;
    padding: 8px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px; 
    margin-right: 11px;
    color: #136630;
    text-decoration: none;
  }
.nav-bar {
    margin-top: -65px;
    justify-content: center;
}
.nav-link {
    margin-left: 34.87%;
}
  .nav-link-2 {
float: right;
  }
  a.register-btn{
    background-color: #136630;
    color: white;
    width: 37%;
    padding: 8px;
    border-radius: 20px;
  }
  a.register-btn:focus{
      outline: none;
  }
 .btn-btn {
    background-color: #136630;
    color: white;
    border: none;
    border-radius: 30px;
    width: 105px;
    height: 40px;
} 
.background-image {
    background-image: url(/images/loans3-patternbg2\ 9.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}
.main-content {
    text-align: center;
    color: #136630;
}
.my-text {
    display: inline-block;
    top: 16%;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
}
 
.get-started {
    margin-top: 8.84%;
    margin-bottom: 9.29%;
    width: 20%;
}
.get-started:hover, .register-btn {
    background-color:white;
    color: #136630;
    border: 1px solid #136630;
}
.how-it-works {
    margin-top: 11%;
    text-align: center;
}
.how-it-works p{
    color: #136630;
    font-size: 24px;
}
.grid-container  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 64px;
    margin-top: 47px;
}
.card {
    width: 100%;
background: #FFFFFF;
box-shadow: 12px 15px 65px rgba(0, 0, 0, 0.05);
}
.dark-mode .card {
    background-color: hsl(232, 19%, 15%);
}
.card-content {
    padding: 28px;
}
.card-content h1{
    font-size: 27.0671px;
    margin-top: 45px;
    color: #136630;
}

.card-content p{
    font-size: 18px;
}
.card-content.card-3 {
    padding: 36px;
}

.col-12.grid-container {
    column-gap: 263px;
}
.para-text {
    margin-top: 47px;
    margin-bottom: 47px
}
.grid-content{
    padding: 86px;
}
.learn-more{
    width: 139px;
    margin-top: 49px;
    border-radius: 100px;
}
.learn-more:hover, .submit-btn:hover, .learn_more_btn:hover{
    background-color:white;
    color: #136630;
    border: 1px solid #136630;
}
.learn_more_btn {
    width: 139px;
    margin-top: 33px;
    border-radius: 100px;
}
button:focus {
    outline: none;
}
button{
    cursor: pointer;
}
.grid-container-2  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.companies {
    display: flex;
    flex-flow: wrap row;
    }

    img.companies {
        margin-right: 22px;
    }
    .companies-logo{
        margin-top: 73px;
    }

.contact-section {
    background-color: #136630;
    height: 342px;
    margin-top: 80px;
}

.float {
    float: right;
    margin-top: -49px;
}
.contact-text{
    margin-top: -108px;
    margin-left: 195px;
    color: white;
}
.image-dotted{
    margin-top: 33px;
    margin-left: 46px;
}

.form-container {
    position: absolute;
    padding: 52px;
    margin-left: 39.57%;
    margin-right: 17.57%;
    margin-top: -16.95%;
    margin-bottom: 20.1%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 12px 15px 65px rgba(0, 0, 0, 0.05);
}
.form-content {
    margin-top: 32px;
    margin-left: 40px;
    margin-right: 40px;
}
h1.form-text {
    font-size: 23px;
    text-align: center;
    display: block;
}
input[type="text"], input[type="email"]{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #ccc;
    width: 100%;
    margin-top: 44px;
    color: #ccc;
    font-family: "Segoe UI";
}
input[type="email"] {
    margin-bottom: 14px;
}
::placeholder{
    color: #ccc;
}
label {
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
}
.submit {
    text-align: center;
}
.submit-btn{
    margin-top: 48px;
    cursor: pointer;
}
.background{
    background-image: url(/images/loans3-patternbg2\ 10.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 885px;
}
footer {
    margin-top: -336px;
}
.grid-container-3  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 78px;
}

.icon {
    margin-right: 17px;
}
.social-media-icons{
    margin-top: 40px;
}
.product-link {
    margin: 0;
    padding: 0;
  }
  
  .product-link a {
    display: block;
    color: #6D7783;
    padding: 16px;
    text-decoration: none;
  }
  .product-link:hover a {
        cursor: pointer;
  }
  h2{
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: normal;
    color: #233D63;
  }

  .text{
    color: #6D7783;  
  }

  /*RESPOSIVENESS */
  @media screen and (max-width: 600px) {
  body {
   overflow-x: hidden;
  }
  .topnav a{
    text-align: center;
    margin-right: 0;
  }
  a.register-btn {
       width: 19%;
  }
  .nav-link {
    margin-left: 1.87%;
}
.nav-link-2 {
     margin-top: 0;
    float: none; 
}
.nav-bar{
    margin-top: 4px;
}
    img.logo {
        width: 93px;
    }
    img.macbook-image {
        width: 93%;
        height: 216px;
    }
    .container {
      margin: 29px 19px 14px 19px;
    }
    .my-text {
        position: none; 
        top: 27%;
        left: 0;
}
.how-it-works {
    margin-top: -63%;
}
button.get-started.btn-btn {
    width: 38%;
}
.card {
    margin-top: 18px;
    width: 100%;
}
.card-content h1 {
    font-size: 22.0671px;
    margin-top: 19px;
}
.card-content img {
    width: 60%;
}
.card-content p {
    font-size: 12px;
}
.responsive-fit {
    margin-left: 15px;
}
.grid-content {
    padding: 10px;
}
img.companies {
    margin-right: 14px;
}
img.companies.companies-logo {
    margin-top: 28px;
}
.opentable {
    width: 69%;
}
.grid-container-2 {
    /* margin-top: 17px; */
    width: 100%;
    display: inline-grid;
    justify-content: center;
}
.form-container {
    width: 87%;
    position: absolute;
    margin-left: 6.57%;
    margin-right: 6.57%;
    margin-top: -20.95%;
    padding: 0;
}
img.float {
    display: none;
}
.contact-text {
    margin-top: -114px;
    margin-left: 79px;
}
.contact-section {
    height: 316px;
    width: 100%;
}
h1.form-text {
    font-size: 16px;
}
.submit-btn {
    margin-bottom: 29px;
}
  }